body {
  font-family: sans-serif;
}

/*Css for Header*/
.header{
    background-color:#0446db;
}

.logo{
    width:50px;
}

.company-name{
    font-family: Segoe Print;
}

.search-icon{
    margin-left: -30px;
    color: blue;
}

.header-icons{
    width: 35px;
}

@media (max-width:720px){
    #search-bar{
        display: none !important;
    }

    #user-icon{
        display: none;
    }
}

#hamburger-menu{
    display: none;
}

@media (max-width: 720px){
    #hamburger-menu{
        display: block;
    }

    #hamburger-logo{
        justify-content: space-between !important;
    }

}

#search-icon{
    display: none;
}

@media (max-width: 720px){
#search-icon{
    display: inline;
    }
}


.dropdown-item:hover {
    background-color: blue;
}

/*CSS for Nav Bar*/
.navigation-bar{
     background-color:#424649;
}

nav{
     font-size: x-large;
}

@media (max-width: 720px){
#navigation-bar{
        display: none;
    }
}

/*CSS for banner div*/
.banner{
    height: 800px;
}

.banner-text-box{
    height:65%;
}

.banner-text{
    color:#00FFFF;
}

@media (max-width: 720px){
#banner-logo{
    display:none;
}
}

/*CSS for headings*/
.shape{
  width: 25%;
  text-align: center;
  background-color:#ffa500;
  color:white;
  position:relative;
}

.shape:after{
  content:"";
  width:0px;
  height:0px;
  border-top:38px solid #ffa500;
  border-right:60px solid transparent;
  position:absolute;
  left:100%;
  top:0px;
}

@media (min-width: 768px) and (max-width:991px){
.shape{
  width: 50%;
  }
}

@media (max-width: 767px){
.shape{
  width: 80%;
  }
}

/*CSS for product list*/
.card{
    border: none;
}

.card-img-top{
    height: 350px;
    object-fit:covet;
}

p{
    margin:0;
}

/*CSS for rating star*/
.gold{
    color:#FFBF00;
}

.grey{
    color:#DCDCDC;
}

/*CSS for latest launch*/
.latest-launch{
    height:600px;
}

.explore-btn{
    background-color: rgba(0,0,0,0.4);
    border-radius: 8px;
    font-size: xx-large;
}

@media (max-width: 540px){
.left-div{
    height: 50% !important;
}
}

@media (min-width: 541px) and (max-width:720px){
.left-div{
    height: 60% !important;
}

.right-div{
    height: 30% !important;
}

.bottom-div{
    height: 40% !important;
}
}

/*CSS for Why Dare*/
.shipping-img{
    width: 70%;
}

/*CSS for Footer*/
footer{
    background-color:#000000;
}

.social-media-img{
    width:50px;
}

@media (min-width: 541px) and (max-width:720px){
#social-media{
        justify-content: center !important;
    }
}